
    
  
      
      <section class="contact">
        <div class="container fiche">
       <h2>Soumettez Demande</h2>
       <p>Nous sommes disponibles 24/24 et 7j/7j par fax,e-mail ou par telephone vous pouvez egalement<br>
         utiliser le formulaire de contact rapide pour soumettre vos demandes
       </p>
            <div class="row100">
           <div class="col">
             <div class="inputBox">
               <input type="text" name="" required>
               <span class="text">First Name</span>
               <span class="line"></span>
             </div>
           </div>  
           <div class="col">
             <div class="inputBox">
               <input type="text" name="" required>
               <span class="text">Last Name</span>
               <span class="line"></span>
             </div>
           </div>  
         </div>
         <div class="row100">
           <div class="col">
             <div class="inputBox">
               <input type="text" name="" required>
               <span class="text">E-mail</span>
               <span class="line"></span>
             </div>
           </div>  
           <div class="col">
             <div class="inputBox">
               <input type="text" name="" required>
               <span class="text">Mobile</span>
               <span class="line"></span>
             </div>
           </div>  
         </div>
         <div class="row100">
           <div class="col">
             <div class="inputBox  textarea">
               <textarea required="required" ></textarea>
               <span class="text">Ecrivez votre message ici...</span>
               <span class="line"></span>
             </div>
           </div> 
        </div>
        <div class="row100">
          <div class="col">
            <input type="submit" value="Envoyez">
          </div>
        </div>
        </div>
      </section>  
      
 
       <iframe class=" carte" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7961.6150578738825!2d11.51721897571002!3d3.851450388793521!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x108bcf8a3283cf39%3A0x37e2a13024988b75!2sMvog%20Mbi%2C%20Yaound%C3%A9!5e0!3m2!1sfr!2scm!4v1631716162341!5m2!1sfr!2scm" width="2000" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
       
       
     
     
       
       
           
         
         
         

      
         
         
       
     
     
 
                          
                          
                 