<div class="container py-5">
<div class="contactez-nous">
    <h1>Soumettez votre demande ici</h1>
    <p class="to" >n'hesitez par d'utiliser se formulaire pour soumettre vos demandes</p>
    <form action="/page-traitement-donnees" method="post">

     <div>
    <label for="nom"> Nom de l' enfant</label>
    <input type="text" id="nom" name="nom" placeholder="" required>
    </div>
   

    <div>
    <label for="nom"> Prenom de l'enfant de l' enfant</label>
    <input type="text" id="nom" name="nom" placeholder="" required>
    </div>
    
    <div>
        <label for="nom"> Prenom de l'enfant de l' enfant</label>
        <input type="text" id="nom" name="nom" placeholder="" required>
        </div>

        <div>
            <label for="sujet">Quel est le sexe de l enfant?</label>
            <select name="sujet" id="sujet" required>
            <option value="" disabled selected hidden>Choisissez le sexe de l'enfant</option>
            <option value="">Feminin</option>
            <option value="">Masculin</option>
           
            </select>
            </div>  
     <div>
        <label for="start">date de naissance</label>
        <input type="date" id="start" name="trip-start" value="2022-06-22" min="2000-01-01" max="2030-12-31">
     </div>
     <div>
        <label for="nom"> lieu naissance de l' enfant</label>
        <input type="text" id="nom" name="lieu" placeholder="" required>
        </div>
        <div>
            <label for="file"> CNI du pere et de la mere</label>
            <input type="file" id="file" name="file" multiple  placeholder="" required>
            </div>
            <div>
                <label for="file"> CNI des temoins respectif des parents pere et mere</label>
                <input type="file" id="file" name="file" multiple  placeholder="" required>
                </div> 
                <div>
                    <label for="telNO"> numero de la declaration</label>
                    <input type="tel" id="telNO" name="telNO" multiple  placeholder="" required>
                    </div>  
             <div>
            <label for="sujet">Quel est le sexe de l enfant?</label>
            <select name="sujet" id="sujet" required>
            <option value="" disabled selected hidden>Choisissez le sexe de l'enfant</option>
            <option value="">Feminin</option>
            <option value="">Masculin</option>
           
            </select>
            </div>   

    <div>
    <label for="sujet">Quel type de demande souhaitez vous envoyer?</label>
    <select name="sujet" id="sujet" required>
    <option value="" disabled selected hidden>Choisissez le type de votre message</option>
    <option value="">demande etablissement acte de naissance</option>
    <option value="">demande etablissement acte de mariage</option>
    <option value="">demande etablissement acte de deces</option>
    <option value="autre">Autre...</option>
    </select>
    </div>
    
    <div>
    <button type="submit">Envoyer ma demande</button>
    </div>
    </form>
    </div>
</div>
 


<section>
    
    <div class="container py-4">
        <h1>si les parents sont des concubins veillez remplir aussi la reconnaissance de paternite</h1>
    <div class="contactez-nous">
        <div class="row">
            <div class="col-md-4">
              <div class=" text-center py-5">
                <div class="card-body  " >
                  <h5 class="card-title ico"></h5>
                  <h1 class="card-text  text-transform: uppercase">republique du cameroun</h1>
                 <p class="card-text toto ">paix-travail-patrie</p>
                 <h1 class="card-text  text-transform: uppercase">region</h1>
                 <p class="jj">------------------------------------------------------------------------</p>
                 <h1 class="card-text  text-transform: uppercase">depatement</h1>
                 <p class="jj">------------------------------------------------------------------------</p>
                 <h1 class="card-text  text-transform: uppercase">arrondissement</h1>
                 <p class="jj">------------------------------------------------------------------------</p>
                </div>
               
              </div>
            </div>
            <div class="col-md-4">
                <div class=" text-center py-5">
                  <div class="card-body  " >
                    <h5 class="card-title ico"></h5>
                    <h1 class="card-text  text-transform: uppercase"></h1>
                   <p class="card-text toto "></p>
                   <h1 class="card-text  text-transform: uppercase"></h1>
                   <p ></p>
                   <h1 class="card-text  text-transform: uppercase"></h1>
                   <p></p>
                   <img src="../../assets/image/images (1).jpg " width="100" height="100"/>
                   <h1 class="card-text  text-transform: uppercase"></h1>
                   <p></p>
                  </div>
                 
                </div>
              </div>

            <div class="col-md-4">
                <div class=" text-center py-5">
                  <div class="card-body  " >
                    <h5 class="card-title ico"></h5>
                    <h1 class="card-text  text-transform: uppercase">republique of cameroon</h1>
                   <p class="card-text toto ">peace-work-fatherland</p>
                   <h1 class="card-text  text-transform: uppercase">region</h1>
                   <p >------------------------------------------------------------------------</p>
                   <h1 class="card-text  text-transform: uppercase">division</h1>
                   <p>------------------------------------------------------------------------</p>

                   <h1 class="card-text  text-transform: uppercase">subdivision</h1>
                   <p>------------------------------------------------------------------------</p>
                  </div>
                 
                </div>
              </div>
            
          </div>
        <h1>declaration de renaissance d'enfant ne hors mariage</h1>
        
        <form action="" method="post">
            <div>
                <label for="start">Le</label>
                <input type="date" id="start" name="trip-start" value="2022-06-22" min="2000-01-01" max="2030-12-31">
             </div>
         
                <p class="to">ont compau par devant nous </p>
            

             <div>
             <label for="nom"> officier d' etat civil de</label>
             <input type="text" id="nom" name="lieu" placeholder="" >
             </div>
             <div>
                <label for="nom prenom "> Le nommé</label>
                <input type="text" id="nom prenom" name="lieu" placeholder="" >
                </div>
                <div>
                    <label for="start">Né le</label>
                    <input type="date" id="start" name="trip-start" value="2022-06-22" min="2000-01-01" max="2030-12-31">
                 </div>
                 <div>
                    <label for="nom prenom "> lieu de naissance </label>
                    <input type="text" id="nom prenom" name="lieu" placeholder="" >
                    </div>  
                 <div>
                    <label for="sujet">De nationalité</label>
                    <select name="sujet" id="sujet" required>
                    <option value="" disabled selected hidden>Choisissez le pay d'origine</option>
                    <option value="">camerounaise</option>
                    <option value="">congolaise</option> 
                    </select>
                    </div> 

                    <div>
                        <label for="nom prenom "> Fils de</label>
                        <input type="text" id="nom prenom" name="lieu" placeholder="" >
                        </div>
                        <div>
                            <label for="nom prenom "> Et de</label>
                            <input type="text" id="nom prenom" name="lieu" placeholder="" >
                            </div>
                    
                            <div>
                                <label for="telNO"> Document de reference</label>
                                <input type="tel" id="telNO" name="telNO" multiple  placeholder="(CNI Passport acte de naissance)" required>
                                </div>  

                                <div>
                                    <label for="nom prenom "> profession </label>
                                    <input type="text" id="nom prenom" name="lieu" placeholder="" >
                                    </div>
                                    <div>
                                        <label for="telNO"> Numéro de téléphone</label>
                                        <input type="tel" id="telNO" name="telNO" multiple  placeholder="" required>
                                        </div>  
                                    <div>
                                        <label for="nom prenom "> Qui déclare être le père naturel de l'enfant </label>
                                        <input type="text" id="nom prenom" name="lieu" placeholder="" >
                                        </div>
                                     
                                        <div>
                                            <label for="sujet">De sexe</label>
                                            <select name="sujet" id="sujet" required>
                                            <option value="" disabled selected hidden>Choisissez le pay d'origine</option>
                                            <option value="">Femini</option>
                                            <option value="">Masculin</option> 
                                            </select>
                                            </div> 

                                            <div>
                                                <label for="start">Né le</label>
                                                <input type="date" id="start" name="trip-start" value="2022-06-22" min="2000-01-01" max="2030-12-31">
                                             </div>  
                                             <div>
                                                <label for="nom prenom "> lieu de naissance </label>
                                                <input type="text" id="nom prenom" name="lieu" placeholder="" >
                                                </div>  
                                             
          <div>
                <label for="nom prenom "> Mère de l'enfant</label>
                <input type="text" id="nom prenom" name="lieu" placeholder="" >
                </div>  
                <div>
                    <label for="start">Né le</label>
                    <input type="date" id="start" name="trip-start" value="2022-06-22" min="2000-01-01" max="2030-12-31">
                 </div>                                          
                 <div>
                    <label for="nom prenom "> lieu de naissance </label>
                    <input type="text" id="nom prenom" name="lieu" placeholder="" >
                    </div>  
                 <div>
                    <label for="sujet">De nationalité</label>
                    <select name="sujet" id="sujet" required>
                    <option value="" disabled selected hidden>Choisissez le pay d'origine</option>
                    <option value="">camerounaise</option>
                    <option value="">congolaise</option> 
                    </select>
                    </div> 


                    <div>
                        <label for="nom prenom "> profession </label>
                        <input type="text" id="nom prenom" name="lieu" placeholder="" >
                        </div>
                        <div>
                            <label for="telNO"> Document de reference</label>
                            <input type="tel" id="telNO" name="telNO" multiple  placeholder="(CNI Passport acte de naissance)" required>
                            </div>  


                            <div>
                                <label for="nom prenom "> Fille de</label>
                                <input type="text" id="nom prenom" name="lieu" placeholder="" >
                                </div>
                                <div>
                                    <label for="nom prenom "> Et de</label>
                                    <input type="text" id="nom prenom" name="lieu" placeholder="" >
                                    </div>


        <p class="to">Qui déclare que son enfant surnommé(e) a été concu(e) des oeuvres du declarant et qu'elle accepte librement le reconnaissance dudit engant par son pére naturel </p>
        <p class="to">ont confirmé ces declarations </p>

 <div>
                <label for="nom prenom "> premier temoins</label>
                <input type="text" id="nom prenom" name="lieu" placeholder="" >
                </div>  
                <div>
                    <label for="start">Né le</label>
                    <input type="date" id="start" name="trip-start" value="2022-06-22" min="2000-01-01" max="2030-12-31">
                 </div> 
                 <div>
                    <label for="nom prenom "> lieu de naissance </label>
                    <input type="text" id="nom prenom" name="lieu" placeholder="" >
                    </div>    

                 <div>
                    <label for="nom prenom "> profession </label>
                    <input type="text" id="nom prenom" name="lieu" placeholder="" >
                    </div>
                    <div>
                        <label for="telNO"> Numero de la CNI</label>
                        <input type="tel" id="telNO" name="telNO" multiple  placeholder="(CNI Passport acte de naissance)" required>
                        </div>

                        <div>
                            <label for="nom prenom "> deuxieme temoins</label>
                            <input type="text" id="nom prenom" name="lieu" placeholder="" >
                            </div>  
                            <div>
                                <label for="start">Né le</label>
                                <input type="date" id="start" name="trip-start" value="2022-06-22" min="2000-01-01" max="2030-12-31">
                             </div> 
                             <div>
                                <label for="nom prenom "> lieu de naissance </label>
                                <input type="text" id="nom prenom" name="lieu" placeholder="" >
                                </div>    
            
                             <div>
                                <label for="nom prenom "> profession </label>
                                <input type="text" id="nom prenom" name="lieu" placeholder="" >
                                </div>
                                <div>
                                    <label for="telNO"> Numero de la CNI</label>
                                    <input type="tel" id="telNO" name="telNO" multiple  placeholder="(CNI Passport acte de naissance)" required>
                                    </div>

<p class="to">En foi de quoi les presentes declarations sont recues et enregistres conformement aux dispositions de l'article 44 de l prdonance Numero 81/02 du 29 jun 1981 modifiee et completee par a la loi numero 2011/011 du 06 mai 2011</p>












        
        <div>
        <button type="submit">Envoyer </button>
        </div>
        </form>
        </div> 
    </div>

    </section>

        
  