<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
 
<nav class="navbar  navbar-expand-lg navbar-light bg-light navbar-cc fixed">
  <div class="container-fluid">
    
    <a class="navbar-brand data mx-4 py-4" href="#"><h1><img src="../../assets/image/log ap.jpg" alt="" width="100" height="100" class="d-inline-block align-text-top"></h1></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collaps  navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 liens ">
        <li class="nav-item  pe-4 lien">
          <a class="nav-link" routerLink="/main" tabindex="-1" aria-disabled="true">Accueil</a>
        </li>
        <li class="nav-item  dropdown pe-4 lien">
          <a class="nav-link dropdown-toggle  active" href="Actes" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Actes
          </a>
          <ul class="dropdown-menu mega-menu " aria-labelledby="navbarDropdown">
           <div class="row content">
            <div class="col-md-4 colone">
              <p><strong class="sub-menu">Acte Naissance</strong></p>
                           <p><a class="nav-link" routerLink="/editer acte naissance"tabindex="-1" aria-disabled="true">Editer Acte a</a></p>
                            <p><a class="nav-link" routerLink="/imprimer acte" tabindex="-1" aria-disabled="true">Imprimer</a></p>
                              <p> <a class="nav-link" routerLink="/registre naissance" tabindex="-1" aria-disabled="true">Resgitres Acte de Naissance</a></p>                       
             </div>

               <div class="col-md-4 colone">
                <p><strong class="sub-menu">Actes Mariage</strong></p>
                              <p><a class="nav-link" routerLink="/publications de bans" tabindex="-1" aria-disabled="true">Publication de Bans de Mariage</a></p>
                              <p><a class="nav-link" routerLink="/Resgitre acte" tabindex="-1" aria-disabled="true">Resgitres Mariage</a></p>
                               <p><a class="nav-link" routerLink="/consulter acte" tabindex="-1" aria-disabled="true">consulter acte Mariage</a></p>
                                          
               </div>

               <div class="col-md-4 colone">
                <p><strong class="sub-menu">Actes de Deces</strong> </p>
                <p><a class="nav-link" routerLink="/editer acte deces" tabindex="-1" aria-disabled="true">Editer Acte Deces</a></p>
                <p><a class="nav-link" routerLink="/imprimer acte deces" tabindex="-1" aria-disabled="true">Imprimer</a></p>
                <p><a class="nav-link" routerLink="/registre" tabindex="-1" aria-disabled="true">Registre Deces</a></p>
         
              </div>
            </div>    
                  
          </ul>
        </li>
        
        <li class="nav-item  dropdown lien">
          <a class="nav-link active dropdown-toggle" href="Soumettre Demande" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Soumettre Demande
          </a>
          <ul class="dropdown-menu petit-menu " aria-labelledby="navbarDropdown">
           <div class="row content">
            <div class="col-md- colone">
              <p><a class="nav-link" routerLink="/etablir acte naissance" tabindex="-1" aria-disabled="true">Etablissement Acte Naissance</a></p>
              <p> <a class="nav-link" routerLink="/etablir acte de mariage" tabindex="-1" aria-disabled="true">Etablissement Acte Mariage</a></p>
              <p><a class="nav-link" routerLink="/etablir acte deces" tabindex="-1" aria-disabled="true">Etablissement Acte de Deces</a></p>
              
                  </div>
                  </div>
                </ul>
                </li>
                <li class="nav-item pe-4  lien">
                  <a class="nav-link" routerLink="/navigation.component" tabindex="-1" aria-disabled="true">Dashboard</a>
                </li>
                <li class="nav-item  dropdown lien">
                  <a class="nav-link active dropdown-toggle" href="declaration" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Declaration
                  </a>
                  <ul class="dropdown-menu petit-menu " aria-labelledby="navbarDropdown">
                   <div class="row content">
                    <div class="col-md- colone">
                      <p><a class="nav-link" routerLink="/declaration naissance " tabindex="-1" aria-disabled="true">Naissance</a></p>
                      <p> <a class="nav-link" routerLink="/declaration de deces" tabindex="-1" aria-disabled="true"> deces</a></p>
                      
                      
                          </div>
                          </div>
                        </ul>
                        </li>
               </ul>  
              
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button class="btn   btn-pri  me-md-2  " type="button"><a class="nav-link" routerLink="/login" tabindex="-1" aria-disabled="true">Connexion</a></button>
                 
                 
                </div>
                
    </div>
  </div>
 
</nav>
 
 