<!------------------------DASHBOARD------------------->
<div class="container">
    <div class="forms-container">
      <div class="signin-signup">
        <form action="#" class="sign-in-form">
          <h2 class="title">Connexion</h2>
          <div class="input-field">
            <i class="bi bi-person-circle"></i>
            <input type="text" placeholder="Username" />
          </div>
          <div class="input-field">
            <i class="bi bi-eye-slash-fill"></i>
            <input type="password" placeholder="Password" />
          </div>
          <input type="submit" value="valider" class="btn solid" />
          <p class="social-text ">si vous n avez pas de compte il faut <a href="incrire" class="inscrire">s'inscrire</a> </p>
          <div class="social-media">
            <a href="#" class="social-icon">
              <i class="bi bi-facebook"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="bi bi-twitter"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="bi bi-google"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="bi bi-linkedin"></i>
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
