
  
  
  .carousel-item {
    height: 100vh;
    min-height: 300px;
  }
  .carousel-caption {
   top: 100px;
  
  }
  .carousel-caption h5 {
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    font-weight: 900;
  }
  
  .carousel-caption p {
    font-size: 30px;
    margin: auto;
    width: 60%;
    color:#fff;
    line-height: 1.9rem;
    font-weight: 600;
  }
  .carousel-caption span {
    color: white;
    font-size: 40px;
    margin: auto;
    width: 60%;
    line-height: 1.9rem;
    font-weight: 600;
  }
  .carousel-caption a {
    background: rgb(87, 207, 87);
    padding: 10px 20px;
    display: inline-block;
    margin-top: 10px;
    color: white;
    border-radius: 30px;
    text-decoration: none;
    line-height: 1.9rem;
  }
  .carousel {
    padding: 10px;
  }
  .carousel-caption a:hover {
    background: rgb(233, 6, 6);
  }
  
  
  .card-body .ico {
    font-size: 3rem;
    line-height: 3rem;
    padding: 10px 10px;
    

  }
  
  .card-body .ico:hover {
    color: #ff0000;
  }



  .ts-service-box .ts-service-box-img span {
    font-size: 5rem;
    line-height: 3rem;
    padding: 10px 10px;
    color: rgb(29, 233, 90);
  }
  .ts-service-box .ts-service-box-img span:hover{
    color: #ff0000;
  }
  
  .ts-service-box .ts-service-box-content {
    margin-left: 62px;
    margin-bottom: 30px;
  }
  
  .tab-content .ts-service-box .ts-service-box-content {
    margin-left: 90px;
  }
  
  .ts-service-box .ts-service-box-content h3 {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 28px;
  }
  
  .ts-service-box .ts-service-box-info {
    margin-left: 25px;
    margin-bottom: 40px;
  }
  
  .service-box-title {
    font-size: 16px;
    margin: 0 0 10px;
    color: black;
    
  }
  .service-box-title a {
    color: red;

    
  }
  .service-box-title p{
    font-size: 12px;
    color: black;
  }
  
  
 h3 {
font-size: 16px;
  }
  
.toto{
  display:inline-flex;
  text-align: center;
  margin-left: 25px;
  margin-bottom: 40px;
 justify-content: space-between;
  
}
.card-header{
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.card-title{
  font-size: 16px;
}
.carte{
  background-color: beige;
}
.card-body h5{
  font-weight: bold;
  color: black;
  text-transform: uppercase;
}
.btn-order {
 
    width: 150px;
    background-color: rgb(17, 236, 116);
    border: none;
   
    height: 49px;
    border-radius: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 100;
    
    cursor: pointer;
    transition: 0.5s;
}
.btn-order :hover{

  background-color: #ff0000;
}
.card-body .card-text{
  font-size: 16px;
  color: black;
  text-transform: capitalize;
}