



<section>

    <div class="container py-4">

        <h1 class="to py-5">acte de naissance </h1>
    <div class="contactez-nous">
        <div class="row">
            <div class="col-md-4">
              <div class=" text-center py-5">
                <div class="card-body  " >
                  <h5 class="card-title ico"></h5>
                  <h1 class="card-text  text-transform: uppercase">republique du cameroun</h1>
                 <p class="card-text toto ">paix-travail-patrie</p>
                 <h1 class="card-text  text-transform: uppercase">region</h1>
                 <p class="jj">------------------------------------------------------------------------</p>
                 <h1 class="card-text  text-transform: uppercase">depatement</h1>
                 <p class="jj">------------------------------------------------------------------------</p>
                 <h1 class="card-text  text-transform: uppercase">arrondissement</h1>
                 <p class="jj">------------------------------------------------------------------------</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
                <div class=" text-center py-5">
                  <div class="card-body  " >
                    <h5 class="card-title ico"></h5>
                    <h1 class="card-text  text-transform: uppercase"></h1>
                   <p class="card-text toto "></p>
                   <h1 class="card-text  text-transform: uppercase"></h1>
                   <p ></p>
                   <h1 class="card-text  text-transform: uppercase"></h1>
                   <p></p>
                   <img src="../../assets/image/images (1).jpg " width="100" height="100"/>
                   <h1 class="card-text  text-transform: uppercase"></h1>
                   <p></p>
                  </div>

                </div>
              </div>

            <div class="col-md-4">
                <div class=" text-center py-5">
                  <div class="card-body  " >
                    <h5 class="card-title ico"></h5>
                    <h1 class="card-text  text-transform: uppercase">republique of cameroon</h1>
                   <p class="card-text toto ">peace-work-fatherland</p>
                   <h1 class="card-text  text-transform: uppercase">region</h1>
                   <p >------------------------------------------------------------------------</p>
                   <h1 class="card-text  text-transform: uppercase">division</h1>
                   <p>------------------------------------------------------------------------</p>

                   <h1 class="card-text  text-transform: uppercase">subdivision</h1>
                   <p>------------------------------------------------------------------------</p>
                  </div>

                </div>
              </div>

          </div>

        <form action="" method="post">



            <h2>centre d'etat civil /civil statut registration centre</h2>
            <div>
                <label for="nom"> De-of</label>
                <input type="text" id="nom" name="lieu" placeholder="" >
                </div>
                <h3>centre d'etat civil de rattachement (pour les centre secondaire)</h3>
                <h3>main  civil status registry oh attachement (for secondary civil registry)</h3>
                <div>
             <label for="nom"></label>
             <input type="text" id="nom" name="lieu" placeholder="" >
             </div>
             <h4 class="jo">acte de naissance/birth certificate</h4>
             <div>
                <label for="telNO"> Numero:/</label>
                <input type="tel" id="telNO" name="telNO" multiple  placeholder="(CNI Passport acte de naissance)" required>
                </div>
                <div>
                    <label for="nom"> Nom de l'enfant-Surname of the child</label>
                    <input type="text" id="nom" name="lieu" placeholder="" >
                    </div>
                    <div>
                       <label for="nom prenom "> Prenom de l'enfant-Given name of the child</label>
                       <input type="text" id="nom prenom" name="lieu" placeholder="" >
                       </div>

                       <div>
                        <label for="start">Né le-Born on the</label>
                        <input type="date" id="start" name="trip-start" value="2022-06-22" min="2000-01-01" max="2030-12-31">
                     </div>
                     <div>
                        <label for="nom prenom "> A-At </label>
                        <input type="text" id="nom prenom" name="lieu" placeholder="" >
                        </div>

                        <div>
                            <label for="sujet">De sexe-Sex</label>
                            <select name="sujet" id="sujet" required>
                            <option value="" disabled selected hidden>Choisissez le pay d'origine</option>
                            <option value="">Feminin-female</option>
                            <option value="">Masculin-malle</option>
                            </select>
                            </div>
                            <div>
                                <label for="nom prenom "> De-Of</label>
                                <input type="text" id="nom prenom" name="lieu" placeholder="" >
                                </div>
                                <div>
                                    <label for="start">Né le-on the</label>
                                    <input type="date" id="start" name="trip-start" value="2022-06-22" min="2000-01-01" max="2030-12-31">
                                 </div>
                                 <div>
                                    <label for="nom  "> A-At </label>
                                    <input type="text" id="nom " name="lieu" placeholder="" >
                                    </div>
                                    <div>
                                        <label for="nom  "> Domicilié à-Resident at </label>
                                        <input type="text" id="nom " name="lieu" placeholder="" >
                                        </div>

                                <div>
                                    <label for="nom prenom "> profession </label>
                                    <input type="text" id="nom prenom" name="lieu" placeholder="" >
                                    </div>

                                 <div>
                                    <label for="sujet">De nationalité-nationality</label>
                                    <select name="sujet" id="sujet" required>
                                    <option value="" disabled selected hidden>Choisissez le pay d'origine</option>
                                    <option value="">camerounaise</option>
                                    <option value="">congolaise</option>
                                    </select>
                                    </div>

                                    <div>
                                        <label for="telNO"> Document de reference-Rference document</label>
                                        <input type="tel" id="telNO" name="telNO" multiple  placeholder="(CNI Passport acte de naissance)" required>
                                        </div>


                                        <div>
                                            <label for="nom prenom "> Et de</label>
                                            <input type="text" id="nom prenom" name="lieu" placeholder="" >
                                            </div>

                                            <div>
                                                <label for="start">Né le-on the</label>
                                                <input type="date" id="start" name="trip-start" value="2022-06-22" min="2000-01-01" max="2030-12-31">
                                             </div>
                                             <div>
                                                <label for="nom  "> A-At </label>
                                                <input type="text" id="nom " name="lieu" placeholder="" >
                                                </div>
                                                <div>
                                                    <label for="nom  "> Domicilié à-Resident at </label>
                                                    <input type="text" id="nom " name="lieu" placeholder="" >
                                                    </div>

                                            <div>
                                                <label for="nom prenom "> profession </label>
                                                <input type="text" id="nom prenom" name="lieu" placeholder="" >
                                                </div>

                                             <div>
                                                <label for="sujet">De nationalité-nationality</label>
                                                <select name="sujet" id="sujet" required>
                                                <option value="" disabled selected hidden>Choisissez le pay d'origine</option>
                                                <option value="">camerounaise</option>
                                                <option value="">congolaise</option>
                                                </select>
                                                </div>

                                                <div>
                                                    <label for="telNO"> Document de reference-Rference document</label>
                                                    <input type="tel" id="telNO" name="telNO" multiple  placeholder="(CNI Passport acte de naissance)" required>
                                                    </div>


                                                    <div>
                                                        <label for="start">Dressé le-Drawn up on the</label>
                                                        <input type="date" id="start" name="trip-start" value="2022-06-22" min="2000-01-01" max="2030-12-31">
                                                     </div>

                                                     <div>
                                                        <label for="nom prenom "> Sur la déclaration de-in accordance with the declaration of </label>
                                                        <input type="text" id="nom prenom" name="lieu" placeholder="" >
                                                        </div>
   <h4>Lesquels ont certifié la sincèrité de la présente déclaration-who attested to the truth of this declaration</h4>


   <div>
    <label for="nom prenom "> Par Nous-By Us: Officier d'état civil </label>
    <input type="text" id="nom prenom" name="lieu" placeholder="" >
    </div>
    <div>
        <label for="nom prenom ">Assisté de-in the presence of:sécrétaire d'état civil </label>
        <input type="text" id="nom prenom" name="lieu" placeholder="" >
        </div>

        <div>
            <label for="start"> Le- on the</label>
            <input type="date" id="start" name="trip-start" value="2022-06-22" min="2000-01-01" max="2030-12-31">
         </div>


        <div>
            <button type="submit">Editer</button>
            </div>
            </form>
            </div>
        </div>

        </section>













