<div class="container">
  <div class="forms-container">
    <div class="signin-signup">
      <form action="#" class="sign-in-form">
        <h2 class="title">Incrivez vous</h2>
        <div class="input-field">
          <i class="bi bi-person-circle"></i>
          <input type="text" placeholder="First Name" />
        </div>
        <div class="input-field">
          <i class="bi bi-person-circle"></i>
          <input type="text" placeholder="Last Name" />
        </div>
        <div class="input-field">
          <i class="bi bi-eye-slash-fill"></i>
          <input type="password" placeholder="Password" />
        </div>
        <div class="input-field">
          <i class="bi bi-eye-slash-fill"></i>
          <input type="password" placeholder="Confirm Password" />
        </div>
        <div class="input-field">
          <i class="bi bi-person-circle"></i>
          <input type="telNO" placeholder="tel" />
        </div>
        <div class="input-field">
          <i class="bi bi-person-circle"></i>
          <input type="email" placeholder="kuissujoss7@gmail.com" />
        </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              Femme
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              Homme
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              Complete
            </label>
          </div>
        <input type="submit" value="valider" class="btn solid" />
         
      </form>
    </div>
  </div>
</div>


