

<section class="container py-5 ">
  <h1  >publications de bans de mariage</h1>

  <div id="carouselExampleControls py-5" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card h-100 ">
                <img src="../../assets/image/b k.jpg" class="card-img-top" alt="..." >
                <div class="card-body">
                  <h5 class="card-title to py-5">publications de bans </h5>
                  <p class="card-text tex">Il y'a promesse de mariage entre mr ngezo brice hancelin </p>
                  <p class="card-text tex">ne le 30/03/1983</p>
                  <p class="card-text tex">A:Yaounde</p>
                  <p class="card-text tex">nationalite:camerounais</p>
                  <p class="card-text tex">profession:comptable</p>
                  <p class="card-text tex">Domicile: yaounde</p>
                  <p class="card-text tex">fils de:ngassa et de</p>
                  <p class="card-text tex">Ziteu</p>
                                <p class="card-text">et</p>
                 <p class="card-text tex">mll ngouni takoulo robertine</p>
                  <p class="card-text tex">ne le 30/03/1983</p>
                  <p class="card-text tex">A:douala</p>
                  <p class="card-text tex">nationalite:camerounais</p>
                  <p class="card-text tex">profession: sage femme</p>
                  <p class="card-text tex">Domicile: yaounde</p>
                  <p class="card-text tex">fils de:kemmoe antoinette et de</p>
                  <p class="card-text tex"> takoulo robert</p>

                  <p class="card-text tex">par la ils annoncent leur desir de s'unir volontairement  pour la vie  et dans le mariage an date du 06/02/2023</p>
                  <p>toute opposition a ce mariage devra etre formuler dans les delai d'au moins 1 mois a compter de ce jour</p>
                 
                </div>
                <div class="card-footer">
                    <button class="btn btn-order pe rounded-pill text-uppercase" >S'opposer</button>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100 ">
                <img src="../../assets/image/j d.jpg" class="card-img-top" alt="..." >
                <div class="card-body">
                    <h5 class="card-title to py-5">publications de bans </h5>
                    <p class="card-text tex">Il y'a promesse de mariage entre mr ngezo brice hancelin </p>
                    <p class="card-text tex">ne le 30/03/1983</p>
                    <p class="card-text tex">A:Yaounde</p>
                    <p class="card-text tex">nationalite:camerounais</p>
                    <p class="card-text tex">profession:comptable</p>
                    <p class="card-text tex">Domicile: yaounde</p>
                    <p class="card-text tex">fils de:ngassa et de</p>
                    <p class="card-text tex">Ziteu</p>
                                  <p class="card-text">et</p>
                   <p class="card-text tex">mll ngouni takoulo robertine</p>
                    <p class="card-text tex">ne le 30/03/1983</p>
                    <p class="card-text tex">A:douala</p>
                    <p class="card-text tex">nationalite:camerounais</p>
                    <p class="card-text tex">profession: sage femme</p>
                    <p class="card-text tex">Domicile: yaounde</p>
                    <p class="card-text tex">fils de:kemmoe antoinette et de</p>
                    <p class="card-text tex"> takoulo robert</p>
  
                    <p class="card-text tex">par la ils annoncent leur desir de s'unir volontairement  pour la vie  et dans le mariage an date du 06/02/2023</p>
                    <p>toute opposition a ce mariage devra etre formuler dans les delai d'au moins 1 mois a compter de ce jour</p>
                   
                </div>
                <div class="card-footer">
                    <button class="btn btn-order pe rounded-pill  text-uppercase">S'opposer</button>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="../../assets/image/r e.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title to py-5">publications de bans </h5>
                    <p class="card-text tex">Il y'a promesse de mariage entre mr ngezo brice hancelin </p>
                    <p class="card-text tex">ne le 30/03/1983</p>
                    <p class="card-text tex">A:Yaounde</p>
                    <p class="card-text tex">nationalite:camerounais</p>
                    <p class="card-text tex">profession:comptable</p>
                    <p class="card-text tex">Domicile: yaounde</p>
                    <p class="card-text tex">fils de:ngassa et de</p>
                    <p class="card-text tex">Ziteu</p>
                                  <p class="card-text">et</p>
                   <p class="card-text tex">mll ngouni takoulo robertine</p>
                    <p class="card-text tex">ne le 30/03/1983</p>
                    <p class="card-text tex">A:douala</p>
                    <p class="card-text tex">nationalite:camerounais</p>
                    <p class="card-text tex">profession: sage femme</p>
                    <p class="card-text tex">Domicile: yaounde</p>
                    <p class="card-text tex">fils de:kemmoe antoinette et de</p>
                    <p class="card-text tex"> takoulo robert</p>
  
                    <p class="card-text tex">par la ils annoncent leur desir de s'unir volontairement  pour la vie  et dans le mariage an date du 06/02/2023</p>
                    <p>toute opposition a ce mariage devra etre formuler dans les delai d'au moins 1 mois a compter de ce jour</p>
                   
                </div>
                <div class="card-footer">
                    <button class="btn btn-order pe rounded-pill text-uppercase">S'opposer</button>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="carousel-item">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card h-100">
                <img src="../../assets/image/k b.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title to py-5">publications de bans </h5>
                    <p class="card-text tex">Il y'a promesse de mariage entre mr ngezo brice hancelin </p>
                    <p class="card-text tex">ne le 30/03/1983</p>
                    <p class="card-text tex">A:Yaounde</p>
                    <p class="card-text tex">nationalite:camerounais</p>
                    <p class="card-text tex">profession:comptable</p>
                    <p class="card-text tex">Domicile: yaounde</p>
                    <p class="card-text tex">fils de:ngassa et de</p>
                    <p class="card-text tex">Ziteu</p>
                                  <p class="card-text">et</p>
                   <p class="card-text tex">mll ngouni takoulo robertine</p>
                    <p class="card-text tex">ne le 30/03/1983</p>
                    <p class="card-text tex">A:douala</p>
                    <p class="card-text tex">nationalite:camerounais</p>
                    <p class="card-text tex">profession: sage femme</p>
                    <p class="card-text tex">Domicile: yaounde</p>
                    <p class="card-text tex">fils de:kemmoe antoinette et de</p>
                    <p class="card-text tex"> takoulo robert</p>
  
                    <p class="card-text tex">par la ils annoncent leur desir de s'unir volontairement  pour la vie  et dans le mariage an date du 06/02/2023</p>
                    <p>toute opposition a ce mariage devra etre formuler dans les delai d'au moins 1 mois a compter de ce jour</p>
                   
                </div>
                <div class="card-footer">
                    <button class="btn btn-order pe rounded-pill text-uppercase text-uppercase">S'opposer</button>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="../../assets/image/r e.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title to py-5">publications de bans </h5>
                    <p class="card-text tex">Il y'a promesse de mariage entre mr ngezo brice hancelin </p>
                    <p class="card-text tex">ne le 30/03/1983</p>
                    <p class="card-text tex">A:Yaounde</p>
                    <p class="card-text tex">nationalite:camerounais</p>
                    <p class="card-text tex">profession:comptable</p>
                    <p class="card-text tex">Domicile: yaounde</p>
                    <p class="card-text tex">fils de:ngassa et de</p>
                    <p class="card-text tex">Ziteu</p>
                                  <p class="card-text">et</p>
                   <p class="card-text tex">mll ngouni takoulo robertine</p>
                    <p class="card-text tex">ne le 30/03/1983</p>
                    <p class="card-text tex">A:douala</p>
                    <p class="card-text tex">nationalite:camerounais</p>
                    <p class="card-text tex">profession: sage femme</p>
                    <p class="card-text tex">Domicile: yaounde</p>
                    <p class="card-text tex">fils de:kemmoe antoinette et de</p>
                    <p class="card-text tex"> takoulo robert</p>
  
                    <p class="card-text tex">par la ils annoncent leur desir de s'unir volontairement  pour la vie  et dans le mariage an date du 06/02/2023</p>
                    <p>toute opposition a ce mariage devra etre formuler dans les delai d'au moins 1 mois a compter de ce jour</p>
                   
                </div>
                <div class="card-footer">
                    <button class="btn btn-order pe rounded-pill text-uppercase text-uppercase">S'opposer</button>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="../../assets/image/ev 1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title to py-5">publications de bans </h5>
                    <p class="card-text tex">Il y'a promesse de mariage entre mr ngezo brice hancelin </p>
                    <p class="card-text tex">ne le 30/03/1983</p>
                    <p class="card-text tex">A:Yaounde</p>
                    <p class="card-text tex">nationalite:camerounais</p>
                    <p class="card-text tex">profession:comptable</p>
                    <p class="card-text tex">Domicile: yaounde</p>
                    <p class="card-text tex">fils de:ngassa et de</p>
                    <p class="card-text tex">Ziteu</p>
                                  <p class="card-text">et</p>
                   <p class="card-text tex">mll ngouni takoulo robertine</p>
                    <p class="card-text tex">ne le 30/03/1983</p>
                    <p class="card-text tex">A:douala</p>
                    <p class="card-text tex">nationalite:camerounais</p>
                    <p class="card-text tex">profession: sage femme</p>
                    <p class="card-text tex">Domicile: yaounde</p>
                    <p class="card-text tex">fils de:kemmoe antoinette et de</p>
                    <p class="card-text tex"> takoulo robert</p>
  
                    <p class="card-text tex">par la ils annoncent leur desir de s'unir volontairement  pour la vie  et dans le mariage an date du 06/02/2023</p>
                    <p>toute opposition a ce mariage devra etre formuler dans les delai d'au moins 1 mois a compter de ce jour</p>
                   
                </div>
                <div class="card-footer">
                    <button class="btn btn-order pe rounded-pill text-uppercase">S'opposer</button>
                </div>
              </div>
            </div>
          </div>
      </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>